{% extends 'base.html' %}

{% block content %}
<a class="btn btn-outline-info" href="">Create<i class="fa-solid fa-plus"></i>
</a>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>

      <th>Title</th>
      <th>Started_date</th>
      <th>End_date</th>
      <th>Students</th>
      <th>Buttons</th>

    </tr>
  </thead>
  <tbody>
  {% for team in team %}
    <tr>
  
      <td>
   
        <p class="text-muted mb-0">{{team.name}}</p>
      </td>
      <td>{{team.date_created}}</td>
      <td>
        {{team.end_date}}
      </td>
      <td>
        <a class="btn btn-link btn-sm, btn-rounded" href="{% url 'users:team-students' team.id %}">Show students</a>
      </td>
      <td>
        <a class="btn btn-info" href="{% url 'users:read' team.id %}"> Read <i class="fa-solid fa-book"></i></a>
        <a class="btn btn-warning" href="{% url 'users:update' team.id %}"> Update<i class="fa-regular fa-pen-to-square"></i></a>&nbsp;
        <a class="btn btn-danger" href="{% url 'users:delete' team.id %}">Remove <i class="fa-solid fa-trash"></i></a>
      </td>
      <td></td>
    
      
      
      
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}