{% extends 'students/dashboard.html' %}

{% block content %}
<div>
  <thead>
   

    <tr style="padding: 2px;">
    

        &nbsp;&nbsp;<a href="#">
            <th scope="col"><b>Students</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
            <th scope="col"><b>Videos  </b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="">
            <th scope="col"><b>Assigments</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;

    </tr>

</thead>
</div>
<div>
  <table class="table table-warning">
    <thead>
      <tr>
        <th scope="col">Group_name</th>
        <th scope="col">Created_date</th>
        <th scope="col">Teacher_name</th>
       
      </tr>
    </thead>
    <tbody>
        {% for team in teams %}
      <tr class="table-warning">
        <th scope="row"><a href="{% url 'teachers:lessons' team.id %}">{{team.name}}</a></th>
        <td>{{team.date_created}}</td>
        <td>{{team.teacher}}</td>
 
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}