
{% extends 'students/dashboard.html' %}



{% block content %}
<div>
  <thead>

    <tr style="padding: 2px;">

        &nbsp;&nbsp;<a href="{% url 'teachers:students'  %}">
            <th scope="col"><b>Attendence</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="">
            <th scope="col"><b>Videos</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">
            <th scope="col"><b>Assigments</b></th>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;

    </tr>

</thead>
</div>
<table class="table">
  <div class="container" ><a style="color: black;" href="#"></a></div>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Homework status</th>
    </tr>
  </thead>
  <tbody >
      {% for lesson in lessons %}
    <tr class="table-warning">
      <td>{{lesson.theme}}</td>
      <td>{{lesson.date}}</td>
      <td>Active</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}