{% extends 'base.html' %}

{% block content %}
<div class="input-group">
  <form method="get"><div>
    <input type="search" class="form-control rounded", name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  </div>
  <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button></form>
</div>

</a>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>First_name</th>
      <th>Last_name</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
  {% for students in students %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Unknown</p>

          </div>
        </div>
      </td>
      <td>
   
        <p class="text-muted mb-0">{{students.team}}</p>
      </td>
      <td>{{students.user_id.first_name}}</td>
      <td>
        {{students.user_id.last_name}}
      </td>
      <td>
        <a class="btn btn-info" href=""> Read <i class="fa-solid fa-book"></i></a>
        <a class="btn btn-warning" href="{% url 'users:edit_students' students.id %}"> Update<i class="fa-regular fa-pen-to-square"></i></a>
        <a class="btn btn-danger" href="{% url 'users:delete_students' students.id %}">Remove <i class="fa-solid fa-trash"></i></a>
      </td>
      <td>
        
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      
      
      
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}