{% extends 'students/dashboard.html' %}

{% block content %}


</a>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>First_name</th>
      <th>Last_name</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
  {% for students in students %}
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">Unknown</p>

          </div>
        </div>
      </td>
      <td>
   
        <p class="text-muted mb-0">{{students.team}}</p>
      </td>
      <td>{{students.user_id.first_name}}</td>
      <td>
        {{students.user_id.last_name}}
      </td>

      <td>
        
        <span class="badge badge-success rounded-pill d-inline">Active</span>
      </td>
      
      
      
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}