{% extends 'students/dashboard.html' %}

{% block content %}
<div>
  <table class="table table-warning">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
       
      </tr>
    </thead>
    <tbody>
      <tr class="table-warning">
        <th scope="row">{{student.team.id}}</th>
        <td><a href="{% url 'students:lessons' student.team.id %}">{{student.team.name}}</a></td>
        <td>active</td>
 
      </tr>

    </tbody>
  </table>
</div>
{% endblock %}